<!DOCTYPE html>
<html>
  <head>
    <title>TinyLink | The Link Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="header">
      <h1>Tiny Link</h1>
      <h3>The Link <u>Short</u>ener</h3>
    </div>
    <div class="row">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
